<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h1>Next weekend is in Miami</h1>
    <h2>May 1</h2>
    <h3>FP1 time: 13:30 (Arg)</h3>
    <h3>SQ time: 17:30 (Arg)</h3>
    <h2>May 2</h2>
    <h3>Sprint time: 13:00 (Arg)</h3>
    <h3>Qualifying time: 17:00 (Arg)</h3>
    <h2>May 3</h2>
    <h3>Race time: 17:00 (Arg)</h3>
  </body>
</html>
