<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h1>Scuderias and it's drivers</h1>
    <h2>Ferrari</h2>
    <h3>Lewis Hamilton / Charles Leclerc</h3>
    <h2>Mercedes</h2>
    <h3>George Russel / Kimi Antonelli</h3>
    <h2>McLaren</h2>
    <h3>Lando Norris / Oscar Piastri</h3>
    <h2>RedBull Racing</h2>
    <h3>Max Verstappen / Isack Hadjar</h3>
    <h2>Williams</h2>
    <h3>Carlos Sainz / Alex Albon</h3>
    <h2>Alpine</h2>
    <h3>Franco Colapinto / Pierre Gasly</h3>
    <h2>Audi</h2>
    <h3>Nico Hulkenberg / Gabriel Bortoleto</h3>
    <h2>Vcarb RacingBulls</h2>
    <h3>Liam Lawson / Arvid Linblad</h3>
    <h2>Aston Martin</h2>
    <h3>Fernando Alonso / Lance Stroll</h3>
    <h2>Haas</h2>
    <h3>Ollie Berman / Esteban Ocon</h3>
    <h2>Cadillac</h2>
    <h3>Valtteri Bottas / Checho Perez</h3>
  </body>
</html>
